/**layer index*/
@import url("../shared/tokens/layer.css");

@import url("../shared/reset.css") layer(reset);
@import url("../shared/fonts.css") layer(base);


@import url("../shared/tokens/core.css") layer(tokens);
@import url("../shared/tokens/jukebox.css") layer(tokens);
@import url("../shared/tokens/selection-theme.css") layer(theme);

@import url("../shared/animation.css") layer(utilities);
@import url("../shared/utilities.css") layer(utilities);

@import url("../shared/components/loader.css") layer(components);

@import url("./jukebox.css") layer(pages);





