/**mobile first */
@layer pages {
  .dash-overview-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--dash-gap);
  max-width: 100%;
}

.dash-overview-grid > * {
  min-width: 0;
}

/*
  *min-width op alle kinderne zodat ze kunnen meekrimpen ipv default auto-aanpassen ana inhoud
*/


/**Tabled: cards 3 columns */
@media (min-width: 640px) {
   body.dashboard .dash-overview-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

   body.dashboard .dash-panel, .dash-panel--wide {
    grid-column: 1 / -1; /**panels full with*/
  }
}

/**desktop view */

@media (min-width: 980px) {
   body.dashboard .dash-overview-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: row;
  }

   body.dashboard .dash-panel {
    grid-column: span 1;
  }

   body.dashboard .dash-panel--wide {
    grid-column: span 2;
  }

}

}
