@import url("./../shared/tokens/layer.css");

@import url("./../shared/reset.css") layer(reset);
@import url("./../shared/fonts.css") layer(base);

@import url("./../shared/tokens/core.css") layer(tokens);
@import url("./../shared/tokens/glass-neon.css") layer(tokens);
@import url("./../shared/tokens/flash.css") layer(token);

@import url("./../shared/flash.css") layer(utilities);
@import url("../shared/animation.css") layer(utilities);
@import url("../shared/utilities.css") layer(utilities);

@import url("./../shared/components/auth/glass-neon.css") layer(components);

@import url("./login.css") layer(pages);
