@layer components {
    /**in de jukebox.css tokens staan de juiste vars*/
    .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(92, 88, 88);
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-out, visibilty 0.5s ease-out;
}

    .loading-screen--hidden {
        opacity: 0;
        visibility: hidden;
    }

    .loader {
        border: 8px solid var(--color-primary-grey--border---light);
        border-top: 8px solid var(--color-accent-blue--bg);
        border-radius: 50%;
        display: flex;
        width: clamp(min(50px, 10vw), 50px, max(75px, 20vw));
        height: clamp(min(50px, 10vw), 50px, max(75px, 20vw));
        animation: spin 2s linear infinite;
    }
}


 
